.button {
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--light-brown);
    color: var(--white);

    padding: 10px 40px;
    border: none;

    height: 40px;

    border-radius: 5px;
    cursor: pointer;
}

.primary {
    background-color: var(--darken);
    border: 2px solid var(--light-brown);
    color: var(--light-brown);
    border-radius: unset;
}

.dark {
    background-color: transparent;
    color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
    border-radius: unset;
}

.relative {
    position: absolute;
    transform: translateX(25%);
    top: 45%;
}

.fullWidth {
    width: 100%;
    border-radius: 10px;
    font-weight: 700;
    margin-top: 20px;
}