.navigationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    min-height: 120px;
    height: 120px;

    padding: 0 100px;
    position: relative;
}

.navigationContainerDarken {
    background-color: var(--darken);
}

.logo {
    width: 140px;
    height: 48px;
}

.navigation {
    display: flex;
    gap: 53px;
}

.navigationItem {
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}
.navigationItem:hover {
    color: var(--light-brown);
}

@media (max-width: 768px) {
    .navigationContainer {
        padding: 0 25px;
    }
    .navigation {
        flex-direction: column;
        gap: 5px;
        margin-right: 20px;
    }
}