.input {
    width: 100%;
    height: 49px;
    border: 1px solid var(--light-brown);
    border-radius: 5px;
    padding-left: 20px;
    outline: none;
}

.input:focus {
    color: var(--white);
}

.inputTransparent {
    background-color: transparent;
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
}