.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.imageContainer {
    position: relative;
}

.premiereButton {
    position: absolute;
    top: 50%;
    left: 40%;
    z-index: 100;
}

.itemImage {
    width: 100%;
    height: 315px;
}

.imageTitle {
    color: var(--white);
    font-size: 20px;
    font-family: Montserrat-Medium, sans-serif;
    margin-top: 10px;
}